#cont {
	margin-left: 15%;
	margin-right: 15%;
}
#banner {
	height: 20%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: pink;
}
#left {
	width: 20%;
	height: 650px;
	float: left;
	background-color: blue;
}
#middle {
	width: 60%;
	height: 650px;
	float: left;
	background-color: black;
	color: white;
}
#right {
	width: 20%;
	height: 650px;
	float: left;
	background-color: yellow;
}
#foot {
	height: 20%;
}