@font-face {
    font-family: 'CascadiaCodePL';
    src: url('./CascadiaCodePL.ttf') format('truetype');
}
body {
    background-color: gray;
    font-family: 'CascadiaCodePL', Fallback, sans-serif;
    
}
fieldset {
    background-color: lightgray;
    border-style: none;
    border-radius: 25px;
}
form {
    margin: auto;
    width: 50%;
    min-width: 555px;
}
p {
    text-align: left;
    margin-bottom: 0;
}
h1 {
    text-align: center;
}
h4 {
    margin: 0;
}
.topnav {
    overflow: hidden;
    background-color: #333;
    margin-bottom: 10px;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: default;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
#login_main {
    text-align: center;
    width: 90%;
    margin: auto;
}
.input_div {
    border-bottom: solid;
}
.input {
    text-align: left;
}
.login_input {
    border-style: none;
    padding-left: 7px;
    outline-width: 0;
    position: relative;
    bottom: 6px;
    background-color: transparent;
}
.btn {
    width: 100%;
    height: 35px;
    background-color: transparent;
    border-radius: 25px;
}
.btn:hover {
    cursor: pointer;
}
.form_btn {
    margin-top: 5px;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    float: left;
    height: 35px;
    background-color: transparent;
    border-radius: 25px;
}
.form_btn:hover {
    cursor: pointer;
}
.register_button {
    width: 89%;
    height: 35px;
    margin-left: 5.5%;
    background-color: transparent;
    border-radius: 25px;
}
.register_button:hover {
    cursor: pointer;
}
.border {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
.form_panel {
    overflow: hidden;
    border-style: solid;
    border-color: black;
    background-color: azure;
    margin-top: 5px;
    border-width: 2px;
    border-radius: 10px;
    padding: 5px;
}
.top_spacer {
    margin-top: 8px;
}
.max_width {
    width: 100%;
}
.seperator_div {
    width: 100%;
    height: 3px;
    background-color: black;
    min-height: 3px;
    margin-top: 7px;
    margin-bottom: 17px;
}
.outline {
    font-size: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#one {
    width: 30%;
}
#two {
    width: 37%;
}
#three {
    width: 40%;
}
#div_imie {
    width: 47.5%;
    float: left;
}
#div_nazwisko {
    width: 47.5%;
    float: right;
}
#voiv_main {
    clear: both;
    width: 89%;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
}
.select_voivodeship {
    width: 90%;
    background-color: transparent;
    border-style: none;
    position: relative;
    bottom: 5px;
}
#city_postal_div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}
#city_div {
    float: left;
    width: 58%;
}
#postal_code_div {
    float: right;
    width: 40%;
}
#postal_code_input {
    width: 70%;
}
#street_div {
    clear: both;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 47px;
}
#email_div {
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}
#picture_div {
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}
