*{
	margin: 0px;
}
#body {
    background-color: black;
}
#cont {
    background-color: saddlebrown;
    position: absolute;
    top: 7.5%;
    left: 15%;
    right: 15%;
    bottom: 7.5%;
}
#top {
    background-color: pink;
    height: 10%;
    font-size: 55px;
}
#top_name {
    background-color: blue;
    float: left;
    width: 50%;
    height: 100%;
}
#name {
    margin-top: 1%;
    margin-left: 2%;
}
#tick {
    margin-top: 1%;
    margin-right: 2%;
}
#clock {
    background-color: greenyellow;
    float: right;
    width: 50%;
    height: 100%;
    text-align: right;
}
#middle {
    background-color: aqua;
    height: 80%;
}
#middle_left {
	float: left;
	height: 100%;
	width: 50%;
}
#middle_right {
	float: left;
	height: 100%;
	width: 50%;
}
#main {
	background-color: grey;
	margin: 5%;
	width: 90%;
	height: 90%;
}
#bottom {
    background-color: darkred;
	clear: both;
    height: 10%;
}
.sqrt {
	background-color: red;
	width: 40%;
	height: 40%;
	margin: 5%;
	float: left;
}